<div class="col-sm-12 d-flex justify-content-center align-items-center border">
  <div>
    <div class="fs-1">
      <span class="fw-bold">Circle: </span>
      <%= booth.circle.name %>
    </div>
    <div class="fs-3">
      <span class="fw-bold">Day: </span> <%= booth.booth_day %>
      <span class="fw-bold">Booth: </span> <%= booth.booth_space %>
    </div>
  </div>
</div>
<div class="col-sm-4">

</div>
<div class="col-sm-8 d-flex justify-content-end align-items-center">
    <%= turbo_frame_tag dom_id(@booth, :favorite) do %>
      <%= render "shared/favorite_button", booth: booth %>
    <% end %>
</div>
<div class="d-flex my-3 justify-content-between">
  <div>
    <strong>Section: </strong> <%= booth.genre %>
  </div>
</div>
<div>
  <strong>Description: </strong> <%= booth.description %>
</div>
