<h1><strong>Circle:</strong> <%= booth.circle.name %></h1>
<div>
  <h2 class="d-inline-block">
    <strong>Event:</strong> <%= event.name %>
  </h2>
  <div class="d-flex justify-content-end">
    <% favorite = booth.favorites.find_by(user:current_user) %>
    <% if favorite %>
      <%= link_to favorite_path(favorite),
                  data: { turbo_method: :patch } do %>
        <div class="btn border">
          Priority: <%= favorite.priority %>
        </div>
      <% end %>
    <% else %>
      <%= link_to booth_favorites_path(booth),
                        data: { turbo_method: :post } do %>
        <div class="btn border">
          No Priority
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-between">
  <div>
    <strong>Day: </strong> <%= booth.booth_day %>,
    <strong>Booth: </strong> <%= booth.booth_space %>
  </div>
  <div>
    <strong>Section: </strong> <%= booth.genre %>
  </div>
</div>
<div>
  <strong>Description: </strong> <%= booth.description %>
</div>
