<div class="col-sm-12 d-flex justify-content-center align-items-center border">
  <div>
    <div class="fs-1">
      <span class="fw-bold">Circle: </span>
      <%= circle.name %>
    </div>
    <div class="fs-3">
      <span class="fw-bold">Day: </span> <%= (booth.booth_day - event.start_date).to_i + 1 %>
      <span class="fw-bold">Booth: </span> <%= booth.booth_space %>
    </div>
  </div>
</div>
  <div class="col-sm-4 border d-flex justify-content-center align-items-center">

    <% if circle.image.attached? %>
      <%= image_tag circle.image,
            id: "circle-image",
            alt: circle.name,
            class: "img-fluid",
            width: 100 %>
    <% else %>
      <%= image_tag circle.image,
            id: "circle-image",
            alt: File.open(Rails.root.join("app/assets/images/default_circle.jpg")),
            class: "img-fluid",
            width: 150 %>
    <% end %>
  </div>
  <div class="col-sm-8 d-flex justify-content-between align-items-center border">
    <div class="border">
      <% if booth.favorited_by?(current_user) %>
        <% favorite = booth.favorites.find_by(user: current_user) %>
        <span class="fw-bold">Notes: </span> <%= favorite.notes %>
      <% else %>
        <span class="fw-bold">Notes: </span> No notes for unfavorited booths.
      <% end %>
    </div>
    <div class="border">
      <%= turbo_frame_tag dom_id(@booth, :favorite) do %>
        <%= render "shared/favorite_button", booth: booth %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4 d-flex flex-column justify-content-center align-items-center border">
    <div>
      <span class="fw-bold">Section: </span> <%= booth.genre %>
    </div>
    <div>
      <span class="fw-bold">Date: </span> <%= booth.booth_day %>
    </div>
  </div>
  <div class="col-sm-8 d-flex justify-content-center align-items-center border">
    <div>
      <span class="fw-bold">Description: </span> <%= booth.description %>
    </div>
  </div>
