

<div class="container text-white">
  <%= render "shared/breadcrumbs", { event: @event, booth: @booth } %>
  <div class="row">
    <%= render "booths/info", { event: @event, booth: @booth, circle: @booth.circle, favorite: @favorite } %>
  </div>
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= render "booths/notifications", notifications: @notifications%>
      </li>
      <li class="nav-item">
        <%= render "booths/booth_works", booth_works: @booth_works %>
      </li>
      <li class="nav-item">
        <%= render "booths/user_inventory", { user_inventory: @user_inventory, booth: @booth } %>
      </li>
    </ul>
  </div>
</div>
