<% booth = favorite.booth %>
<% circle = favorite.booth.circle %>

<%# <div class="favorite-card-category d-flex justify-content-between align-items-center mb-2 rounded-5"> %>
<div class="favorite-card-category d-flex justify-content-start align-items-center mb-2 rounded-5">
    <%= turbo_frame_tag dom_id(booth, :favorite) do %>
      <%= render "shared/favorite_button", booth: booth %>
    <% end %>

  <div class="favorite-circle-details d-flex align-items-center ms-2 me-1 position-relative col-5 col-lg-4">
    <% if booth.image.attached? %>
      <%= image_tag booth.image,
            id: "circle-image",
            alt: "Booth Circle-Cut Image",
            class: "favorite-circle-image object-fit-cover border rounded",
            href: booth_path(booth) %>
    <% elsif circle.image.attached? %>
      <%= image_tag circle.image,
            id: "circle-image",
            alt: "Circle Image",
            class: "favorite-circle-image object-fit-cover border rounded",
            href: booth_path(booth) %>
    <% else %>
      <%= image_tag "blank_circle_cut.png",
            id: "circle-image",
            alt: "Default Image",
            class: "favorite-circle-image object-fit-cover border rounded",
            href: booth_path(booth) %>
    <% end %>

    <%
    user_favorites = booth.favorites.where(user: current_user)
    prioritized = user_favorites.where.not(priority: nil).exists?
    if booth.notifications.where(read: true).exists? && prioritized
    %>
      <span class="badge rounded-5 notification-adjust"><%= booth.notifications.count %>
      </span>
      <% else %>
      <span class="badge bg-danger rounded-5 notification-adjust opacity-0">
      </span>
    <% end %>

    <div class="favorite-booth-details ms-1 me-1">
      <%= link_to circle.name,
                booth_path(booth),
                class: "favorite-circle-name text-decoration-none text-wrap" %>
      <div class="favorite-booth-day"><i class="fa-solid fa-calendar-day me-1"></i>Day <%= booth.day_number %></div>
      <div class="favorite-booth-space"><i class="fa-solid fa-location-dot me-1"></i><%= booth.booth_space %></div>
    </div>
  </div>

  <div class="d-flex align-items-center col-6 col-lg-7">
    <%= simple_form_for favorite, html: { class: "favorite-notes-form d-flex mx-2 align-items-end" } do |f| %>
      <%= f.input :notes,
        as: :text,
        label: false,
        wrapper: false,
        input_html: { class: "favorite-notes-input" } %>


    <% end %>
  </div>
  <i class="fa-solid fa-trash favorite-delete-btn me-2"></i>

</div>
