<div class="booths-results-bar">
  <span class="booths-results-count">
    <%= @booths.count %> <%= "booth".pluralize(@booths.count) %>
  </span>
</div>
<div class="cards mx-auto">
  <% @booths.each do |booth| %>
    <div class="card">
      <div class="card-body card-fixed-width">
        <%= link_to booth_path(booth.id), class: "text-decoration-none", data: { turbo_frame: "_top" } do %>
          <h5 class="card-title text-black text-center fw-bolder">
              <%= booth.circle.name %>
          </h5>
          <div class="position-relative">
            <%= render "shared/circle_cut", booth: booth, circle: booth.circle, width: 180, height: 256 %>
            <div class="booth-card-meta">
              <span class="booth-meta-chip"><i class="fa-solid fa-location-dot"></i> <%= booth.booth_space %></span>
              <% if @event.end_date - @event.start_date != 0 %>
                <span class="booth-meta-chip"><i class="fa-solid fa-calendar-day"></i> Day <%= (booth.booth_day - @event.start_date + 1).to_i %></span>
              <% end %>
            </div>
            <p class="booth-genre-tag"><i class="fa-solid fa-tag"></i> <%= booth.genre %></p>
            <small class="card-text text-muted d-block mt-1"><i class="fa-solid fa-comment-dots"></i> <%= truncate(booth.description, length: 30) %></small>
            <% if @notified_booth_ids.include?(booth.id) && @prioritized_booth_ids.include?(booth.id) %>
              <span class="badge rounded-5 position-absolute notification-adjust">
                <%= @notification_counts[booth.id] %>
              </span>
            <% else %>
              <span class="badge bg-danger rounded-5 position-absolute notification-adjust opacity-0">
              </span>
            <% end %>
          </div>
        <% end %>
        <div class="favorite-button-size">
          <%= turbo_frame_tag dom_id(booth, :favorite) do %>
            <%= render "shared/favorite_button", booth: booth, favorite: @favorites_by_booth_id[booth.id] %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>
