<%
  current_params = request.query_parameters.symbolize_keys.except(:page, :append, :format)
  current_layout = @layout_mode.presence || "rows"

  clean_params = ->(hash) do
    hash.reject { |_key, value| value.blank? }
  end

  row_params = clean_params.call(current_params.except(:quick_filter, :layout).merge(layout: "rows"))
  all_params = clean_params.call(current_params.except(:quick_filter, :layout).merge(layout: "all"))
  favorites_params = clean_params.call(
    current_params.except(:filter_by, :layout, :quick_filter).merge(
      layout: "all",
      quick_filter: (@quick_filter == "favorites" ? nil : "favorites")
    )
  )
  inventory_params = clean_params.call(
    current_params.except(:filter_by, :layout, :quick_filter).merge(
      layout: "all",
      quick_filter: (@quick_filter == "inventory" ? nil : "inventory")
    )
  )

  favorites_active = @quick_filter == "favorites"
  inventory_active = @quick_filter == "inventory"
  row_active = current_layout == "rows" && @quick_filter.blank?
  all_active = current_layout == "all" && @quick_filter.blank?
  unread_updates_count = @unread_notifications_total.to_i
  unread_updates_label = unread_updates_count > 99 ? "99+" : unread_updates_count.to_s
%>

<div class="booths-grid-wrapper booths-grid-wrapper--<%= current_layout %>">
  <div class="booths-results-bar">
    <div class="booths-results-actions">
      <%= link_to event_path(@event, favorites_params),
        class: "booths-view-button booths-view-button--favorites #{'is-active' if favorites_active}",
        data: { turbo_frame: "booths_frame" },
        aria: { current: ("page" if favorites_active) } do %>
        <i class="fa-solid fa-heart booths-view-button__icon" aria-hidden="true"></i>
        <span class="booths-view-button__label">New Updates</span>
        <% if unread_updates_count.positive? %>
          <span class="booths-view-button__counter" aria-label="<%= unread_updates_count %> unread updates"><%= unread_updates_label %></span>
        <% end %>
      <% end %>

      <%= link_to event_path(@event, inventory_params),
        class: "booths-view-button booths-view-button--inventory #{'is-active' if inventory_active}",
        data: { turbo_frame: "booths_frame" },
        aria: { current: ("page" if inventory_active) } do %>
        <i class="fa-solid fa-box-archive booths-view-button__icon" aria-hidden="true"></i>
        <span class="booths-view-button__label">Owned Works</span>
      <% end %>

      <%= link_to event_path(@event, row_params),
        class: "booths-view-button booths-view-button--rows #{'is-active' if row_active}",
        data: { turbo_frame: "booths_frame" },
        aria: { current: ("page" if row_active) } do %>
        <i class="fa-solid fa-film booths-view-button__icon" aria-hidden="true"></i>
        <span class="booths-view-button__label">Recommend</span>
      <% end %>

      <%= link_to event_path(@event, all_params),
        class: "booths-view-button booths-view-button--all #{'is-active' if all_active}",
        data: { turbo_frame: "booths_frame" },
        aria: { current: ("page" if all_active) } do %>
        <i class="fa-solid fa-table-cells-large booths-view-button__icon" aria-hidden="true"></i>
        <span class="booths-view-button__label">All</span>
      <% end %>
    </div>

    <span class="booths-results-count">
      <%= @booths_total_count %> <%= "booth".pluralize(@booths_total_count) %>
    </span>

    <div class="booths-filter-form booths-filter-form--placeholder" aria-hidden="true"></div>
  </div>

  <% if current_layout == "all" %>
    <div class="booths-all-grid" id="booths_all_grid">
      <%= render partial: "booth_card", collection: @booths, as: :booth %>
    </div>

    <%= render "booths_load_more" %>
  <% else %>
    <div id="booth_rows_container">
      <%= render partial: "booth_row_section", collection: @booth_rows, as: :row %>
    </div>

    <%= render "booths_load_more" %>
  <% end %>
</div>
