<% @events.each_with_index do |event, index| %>
  <div class="card-product mx-auto<%= ' card-product--pinned' if index == 0 || index == 1 %>">
    <% if user_signed_in? %>
      <%= render "shared/bookmark_button", event: event, bookmarked_events_by_event_id: @bookmarked_events_by_event_id %>
    <% end %>
  <% if index == 0 || index == 1  %>
    <% if event.image.attached? %>
      <%= image_tag event.image,
            alt: "Event Image",
            class: "object-fit-contain border h-100",
            width: 288
      %>
    <% else %>
      <%= image_tag "default_event.jpg",
            alt: "Default Image",
            class: "object-fit-contain border h-100",
            width: 228
      %>
    <% end %>
  <% else %>
    <img src='https://picsum.photos/id/<%= event.id * 4 %>/200' alt="<%= event.name %>" />
  <% end %>

    <div class="card-product-infos">
      <%= link_to event_path(event.id), class: "text-decoration-none", data: { turbo_frame: "_top" } do %>
        <div>
          <h2 class="card-title text-black"><%= event.name %></h2>
          <h3 class="card-title text-black"><i class="fa-solid fa-location-dot"></i><%= event.venue %></h3>
          <p class="card-title text-black"><i class="fa-solid fa-calendar-day"></i> <%= event.dates %></p>
          <p class="card-title text-black"><%= event.description %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
