<div class="row justify-content-center page-search-row">
  <div class="col-sm-8 my-3">
    <%= form_with url: event_path(@event), method: :get, class: "d-flex event-search-form",
        data: { controller: "search", search_target: "form", action: "submit->search#prevent" } do %>
      <%= hidden_field_tag :filter_by, params[:filter_by] %>
      <%= label_tag :query, "Search Booth", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control bg-white",
            placeholder: "Type a keyword",
            data: { search_target: "input", action: "input->search#search" } %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary visually-hidden" %>
    <% end %>
  </div>
</div>
