<% content_for :head do %>
  <style>
    html, body { scrollbar-width: thin; }
    html::-webkit-scrollbar, body::-webkit-scrollbar { display: width: 6px; height: 6px; }
  </style>
<% end %>

<%= turbo_frame_tag "search_frame" do %>
  <%= render "search_form" %>
<% end %>

<h1 class="text-white text-center event-page-title">Event List</h1>
<%= render "filter_toggle" %>

<%= turbo_frame_tag "events_frame" do %>
  <%= render "events_list" %>
<% end %>
