<div class="row justify-content-center page-search-row">
  <div class="col-sm-8 my-3">
    <div class="text-white mb-2"> <%= render "shared/breadcrumbs", { event: @event, booth: nil } %>   </div>
    <%= form_with url: event_path(@event), method: :get, class: "d-flex event-search-form" do %>
      <%= label_tag :query, "Search Booth", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control bg-white",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<h1 class="text-white text-center event-page-title"> <%= @event.name %> (<%= @event.start_date %>) </h1>

<div class="cards mx-auto">
    <% @booths.each do |booth| %>
<div class="card" >
     <%= link_to booth_path(booth.id), class: "text-decoration-none" do%>
  <div class="card-body rounded-5 card-fixed-width">
      <div class="position-relative">
                <div>
          <% if booth.image.attached? %>
            <%= image_tag booth.image,
                  id: "circle-image",
                  alt: "Booth Circle-Cut Image",
                  class: "object-fit-contain",
                  width: 180,
                  height: 256 %>
          <% elsif booth.circle && booth.circle.image.attached? %>
            <%= image_tag circle.image,
                  id: "circle-image",
                  alt: "Circle Image",
                  class: "object-fit-contain",
                  width: 180,
                  height: 256 %>
          <% else %>
            <%= image_tag "blank_circle_cut.png",
                  id: "circle-image",
                  alt: "Default Image",
                  class: "object-fit-contain",
                  width: 180,
                  height: 256 %>
          <% end %>
        </div>
        <h5 class="card-title text-black"><%= booth.circle.name %> </h5>
        <h6 class="card-text text-black">Genre: <%= booth.genre %> </h6>
        <p class="card-text text-black">Booth Space: <%= booth.booth_space %> (Day: <%= ( booth.booth_day - @event.start_date + 1).to_i %>)</p>
        <p class="card-text text-black">Booth Day: <%= booth.booth_day %></p>
        <%
        user_favorites = booth.favorites.where(user: current_user)
        prioritized = user_favorites.where.not(priority: nil).exists?
        if booth.notifications.where(read: true).exists? && prioritized
        %>
        <span class="badge rounded-5 position-absolute notification-adjust"> <%= booth.notifications.count %>
        </span>
        <% else %>
        <span class="badge bg-danger rounded-5 position-absolute notification-adjust opacity-0">
        </span>
        <% end %>
      </div>
      <% end %>
          <div class="border favorite-button-size">
          <%= turbo_frame_tag dom_id(booth, :favorite) do %>
          <%= render "shared/favorite_button", booth: booth %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
