<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <div class="text-white mb-2"> <%= render "shared/breadcrumbs", { event: @event, booth: nil } %>   </div>
    <%= form_with url: event_path(@event), method: :get, class: "d-flex" do %>
      <%= label_tag :query, "Search Booth", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control bg-white",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<h1 class="text-white text-center"> <%= @event.name %> </h1>
  <%#= link_to events_path do %>
  <%# <i class="fa-solid fa-rotate-left fa-xl"></i> %>
  <%# end %>


<div class="cards mx-auto">
    <% @booths.each do |booth| %>
<div class="card card-fixed-width" >
  <div class="card-body bg-white rounded-5">
   <%= link_to booth_path(booth.id), class: "text-decoration-none" do%>
      <div>
        <img src='https://picsum.photos/id/<%= booth.id * 4 %>/200' alt="<%= booth.circle.name %>" />
        <h5 class="card-title text-black"><%= booth.circle.name %> </h5>
        <h6 class="card-text text-black">Genre: <%= booth.genre %></h6>
        <p class="card-text text-black">Booth Space: <%= booth.booth_space %> (Day: <%= ( booth.booth_day - @event.start_date + 1).to_i %>)</p>
        <p class="card-text text-black">Booth Day: <%= booth.booth_day %></p>
      </div>
    <% end %>
  </div>
</div>
    <% end %>
</div>
