<div class="event-show">
  <div class="pt-3">
    <%= render "shared/breadcrumbs", { event: @event, booth: nil } %>
  </div>

<%= render "show_search_form" %>
<%= render "shared/event_header", event: @event %>


<%= turbo_frame_tag "booths_frame" do %>
 <%= render "booths_list" %>
<% end %>
</div>
