<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: event_path(@event), method: :get, class: "d-flex" do %>
      <%= label_tag :query, "Search Booth", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control bg-white",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

  <h1 class="text-white"> <%= @event.name %> </h1>
  <%= link_to events_path do %>
  <i class="fa-solid fa-rotate-left fa-xl"></i>
  <% end %>

    <% @booths.each do |booth| %>
  <div class="card-product mx-auto">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
    <%= link_to booth_path(booth.id) do%>
      <div>
        <h2>Circle Name: <%= booth.circle.name %> (Day: <%= ( booth.booth_day - @event.end_date + 2).to_i %>)</h2>
        <h2>Genre: <%= booth.genre %></h2>
        <p>Booth Space: <%= booth.booth_space %></p>
        <p>Booth Day: <%= booth.booth_day %></p>
      </div>
    </div>
  </div>
    <% end %>
    <% end %>
